<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Styles/styleIndex.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="container logo-nav-container">
            <a href="/Index.html" class="logo">Home</a>
            <span class="menu-icon">ver</span>
            <div class="navigation">
                <ul class="">
                    <li><a href="/Views/cancionesView.html">Canciones</a></li>
                    <li><a href="/Views/albunesView.html">Albunes</a></li>
                    <li><a href="/Views/about.html">About</a></li>
                    <li><a href="/Views/shopView.html">Shop</a></li>
                </ul>
            </div>
        </div>
    </div>    
    <h1>Albunes</h1>
</body>
</html>