*{
    margin: 0%;
    padding: 0%;
    outline: 0%;
    box-sizing: border-box;
    font-family: Georgia, Times, serif;
}

#contenedor{
    width: 100%;
    height: 100%;
    padding-top: 70px;
    display: block;
}

h1{
    margin-top: 100px;
}
/*---------------Navegador-----*/
/* 
#contenedorNavegador{
    width: 100%;
    height: 70px;
    background-color: #283655;
    position: fixed;
}

#contenedorNavegadorItems{
    width: 90%;
    height: 60%;
    margin-left: 5%;
    margin-top: 0.7%;
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.nevagadorItem{
    background-color: orange;
    flex-grow: 1;
}

#navegadorHome{
    display: inline;
    width: 50px;
    height: 30px;
    background-color: red;
}

#navegadorHome a, li{
    color: white;
    list-style-type: none;
    display: inline-block;
}

#navegadorLista{
    width: auto;
    height: 40px;
    background-color: chocolate;
}
*/

.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.header{
    background-color: #444;
    color: white;
    padding: 0.7rem 0;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.header a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    letter-spacing: 6px;
    font-size: 1.2em;
}

.menu-icon{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius: 5px;
}

.navigation ul li a:hover{
    background-color: #e2dfa2;
}

@media only screen and (max-width: 570px) {
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navigation ul {
        display: none;
    }

    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul.show{
        display: block;
    }

    .navigation ul li{
        display: block;
    }
    
    .navigation ul li a {
        display: block;
        padding: 0.5rem 0;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    
    .navigation ul li a:hover{
        background-color: #e2dfa2;
    }    
}

/*---------------Contenido-----*/
#contenedorContenido{
    width: 100%;
    height: 4525px;
    background-color: #d0e1f9;
}

#contenidoCarrusel{
    width: 100%;
    height: 905px;
    background-color: #a1be95;
}

#contenidoAboutMe{
    width: 100%;
    height: 905px;
    background-color: #e2dfa2;
}

#contenidoCanciones{
    width: 100%;
    height: 905px;
    background-color: #92aac7;
}

#contenidoAlbunes{
    width: 100%;
    height: 905px;
    background-color: #ed5752;
}

#contenidoShop{
    width: 100%;
    height: 905px;
    background-color: #eb5e30;
}

/*---------------Direcciones-----*/
#contenedorDirecciones{
    width: 100%;
    height: 150px;
    background-color: #4d648d;
}